
.avatar{
	margin-bottom:40px;
}

.avatar_image{
	border-radius:40px;
}

.video-wrapper{
	margin-top:50px;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}